<app-header></app-header>

<div class="container-fluid main">

    <div class="row justify-content-center h-100 p-3">

        <div class="col-12 col-md-4 px-0 mb-3 mb-md-0">
            <!-- ============================================================== -->
            <!-- Start Sidebar Browser History -->
            <!-- ============================================================== -->

            <app-history></app-history>

            <!-- ============================================================== -->
            <!-- End Sidebar Browser History -->
            <!-- ============================================================== -->
        </div>

        <div class="col-12 col-md-7 px-0" id="content">

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <router-outlet></router-outlet>

            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->

        </div>

    </div>

</div>




<app-footer></app-footer>