<app-header></app-header>

<div class="container">

    <div class="row justify-content-center text-center">

        <div class="col-3">
            <!-- ============================================================== -->
            <!-- Start Sidebar Browser History -->
            <!-- ============================================================== -->

            <app-history></app-history>

            <!-- ============================================================== -->
            <!-- End Sidebar Browser History -->
            <!-- ============================================================== -->
        </div>

        <div class="col-8" id="content">

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <router-outlet></router-outlet>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->

        </div>

    </div>



</div>




<app-footer></app-footer>