<app-header></app-header>

<div class="container d-flex d-flex-column main">

    <div class="row justify-content-center h-100 p-5">

        <div class="col-3 d-flex-column">
            <!-- ============================================================== -->
            <!-- Start Sidebar Browser History -->
            <!-- ============================================================== -->

            <app-history></app-history>

            <!-- ============================================================== -->
            <!-- End Sidebar Browser History -->
            <!-- ============================================================== -->
        </div>

        <div class="col-8 px-0 h-100" id="content">

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <router-outlet></router-outlet>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->

        </div>

    </div>



</div>




<app-footer></app-footer>