<div class="row justify-content-center">

    <div class="col-12">

        <ng-container *ngIf="film; else elseTemplate">
            
            <div  class="card">

                    <div *ngIf="loaded; else elseTemplate">
                        <div class="card-header">
                    
                            <h3 class="card-title text-center">Episode {{film.getEpisodeId()}} - {{film.getTitle()}}</h3>
            
                        </div>
                        
                        <div class="card card-body">
            
                            <ul>
            
                                <div class="row">
    
                                    <div class="col-12">
        
                                        <li><span class="font-weight-bold">Director:</span> {{film.getDirector()}}</li>
                                        <li><span class="font-weight-bold">Producer:</span> {{film.getProducer()}}</li>
                                        <li><span class="font-weight-bold">Release date:</span> {{getLocaleDate()}}</li>
                                                
                                    </div>
    
                                </div>
                                
                                <div class="row">
    
                                    <div class="col-12">
                                            
                                        <li>
                                            <span class="font-weight-bold">Synopsis:</span>
                                            <p>{{film.getOpeningCrawl()}}</p>
                                        </li>
            
                                    </div>
    
                                </div>
    
                                <div class="row">
    
                                    <div class="col-12">
    
                                        <li>
                                            <span class="font-weight-bold">Characters:</span>
                                            <ul *ngFor="let character of people">
            
                                                <li>{{character}}</li>
            
                                            </ul>
                                        </li>
    
                                    </div>
                                    
                                </div>
            
                            </ul>

                        </div>

                    </div>

                    <ng-template #elseTemplate>

                        <div class="card-header">

                            <h3 class="text-center">Film</h3>

                        </div>
    
                        <div class="card-body">

                            <h3 class="text-center">Loading...</h3>

                        </div>
                        

                    </ng-template>

                    <div class="card-footer text-center">

                        <a [routerLink]="'/films'" class="btn btn-info">Back</a>

                    </div>

            </div>

        </ng-container>

        <ng-template #elseTemplate>

            <div class="card card-body">

                <h3 class="card-title">Film not Found</h3>

                <img src="../../../assets/img/vader.png" alt="Darth Vader" class="img-fluid">

            </div>

        </ng-template>

    </div>

</div>