<div class="row justify-content-center">
    <div class="col-12">
        <ng-container *ngIf="film; else elseTemplate">
            <div class="card card-body">
                <h3 class="card-title text-center">Episode {{film.getEpisodeId()}} - {{film.getTitle()}}</h3>
                <ul>
                    <div class="row">
                        <div class="col-6">
                            <li><span class="font-weight-bold">Director:</span> {{film.getDirector()}}</li>
                            <li><span class="font-weight-bold">Producer:</span> {{film.getProducer()}}</li>
                            <li><span class="font-weight-bold">Release date:</span> {{film.getReleaseDate()}}</li>
                            <li>
                                <span class="font-weight-bold">Characters:</span>
                                <ul *ngFor="let character of people">
                                    <li>{{character}}</li>
                                </ul>
                            </li>
                        </div>
                        <div class="col-6">
                            <li>
                                <span class="font-weight-bold">Synopsis:</span>
                                <p>{{film.getOpeningCrawl()}}</p>
                            </li>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <a [routerLink]="'/films'" class="btn btn-info">Back</a>
                        </div>
                    </div>

                </ul>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <div class="card card-body">
                <h3 class="card-title">Film not Found</h3>
                <img src="../../../assets/img/vader.png" alt="Darth Vader" class="img-fluid">
            </div>
        </ng-template>
    </div>
</div>