<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Films</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Director</th>
                            <th>Release date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let film of films">
                            <td>{{ film.title }}</td>
                            <td>{{ film.director }}</td>
                            <td>{{ film.release_date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>