<header id="header">

    <nav class="navbar navbar-dark">
        <a href="index.html" class="navbar-brand d-block d-md-inline" id="logo">
            <img class="img-fluid" src="assets/img/starwarslogo.svg" alt="Star Wars Logo Homepage">
        </a>
        <ul class="navbar-nav ml-auto d-block d-md-inline">
            <form class="form-inline my-2 my-lg-0">
                <input #input (keyup.enter)="search( input.value )" type="search" class="form-control mr-sm-2" placeholder="Type a title and enter">
            </form>
        </ul>
    </nav>

</header>