@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

/*GENERALES*/

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    background: url(../img/background.jpg);
    min-height: 100%;
}


/*HEADER*/

#header {
    height: 145px;
    background: rgb(0, 0, 0);
    border-bottom: 4px solid #FFE81F;
}

#logo {
    float: left;
}

#logo img {
    float: left;
    height: 120px;
}


/*CONTENT*/

#content {
    margin: 0px auto;
    overflow: hidden;
    background: white;
}


/*SIDEBAR*/

.flex-column {
    background: #F7F7F7;
}


/*FOOTER*/

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background: #000000;
    border-top: 4px solid #FFE81F;
}