<div class="row">

    <div class="col-12">

        <div class="card">

            <div class="card-header">

                <h4 class="card-title text-center">Search</h4>

            </div>

            <div class="card-body">

                <div *ngIf="!loaded">

                    <p class="text-center">Loading...</p>

                </div>

                <div *ngIf="loaded">

                    <table *ngIf="found" class="table table-striped">

                        <tbody>

                            <tr *ngFor="let film of films" class="text-center">

                                <a [routerLink]="['/films/film/', film.getEpisodeId()]">

                                    <td>
                                        Episode {{ film.getEpisodeId() }} - {{ film.getTitle() }}
                                    </td>

                                </a>
                            </tr>

                        </tbody>

                    </table>
    
                    <div *ngIf="!found" class="alert alert-info">No films found.</div>
                </div>

            </div>

            <div class="card-footer text-center">

                <a [routerLink]="'/films'" class="btn btn-info">Back</a>

            </div>

        </div>

    </div>

</div>