<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Films</h4>

                <table class="table table-striped" *ngIf="films.length > 0">
                    <tbody>
                        <tr *ngFor="let film of films" class="pointer">
                            <a [routerLink]="['/films/film/', film.episode_id]">
                                <td>
                                    Episodio {{ film.episode_id }} - {{ film.title }}
                                </td>
                            </a>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="films.length === 0" class="alert alert-info">No films found.</div>

            </div>
        </div>
    </div>
</div>