@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

/*GENERALES*/

* {
    font-family: sans-serif, Helvetica, Arial;
}

html,
body {
    min-height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: calc(12px + .36vw);
}


/*HEADER*/

#header {
    height: calc(10% + 1vh);
    background: rgb(0, 0, 0);
    border-bottom: 4px solid #FFE81F;
}

#logo {
    float: left;
}

#logo img {
    float: left;
    height: calc(120px + 1vh);
}


/*CONTENT*/

#content {
    margin: 0px auto;
    overflow: hidden;
    background: white;
    flex: 1 0;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*SIDEBAR*/

#sidebar {
    background: #F7F7F7;
}


/*FOOTER*/

footer {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background: #000000;
    border-top: 4px solid #FFE81F;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 769px) {
    /* Design for desktop */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}