<ngb-carousel #carousel>
    <ng-template ngbSlide *ngFor="let character of getCharacters()">
        <div class="card">
            <div class="card-header text-center">
                {{character.name}}
            </div>
            <div class="card-body">
                <ul>
                    <div class="row">
                        <div class="col-6 ">
                            <li><span class="font-weight-bold">Birth:</span> {{character.getBirthYear()}}</li>
                            <li><span class="font-weight-bold">Eye Color:</span> {{character.getEyeColor()}}</li>
                            <li><span class="font-weight-bold">Eye Color:</span> {{character.getGender()}}</li>
                            <li><span class="font-weight-bold">Eye Color:</span> {{character.getHairColor()}}</li>
                            <li><span class="font-weight-bold">Height:</span> {{character.getHeight()}}</li>
                            <li><span class="font-weight-bold">Weight:</span> {{character.getMass()}}</li>
                            <li><span class="font-weight-bold">Skin color:</span> {{character.getSkinColor()}}</li>
                            <li><span class="font-weight-bold">Homeworld:</span> {{character.getHomeworld()}}</li>
                            <li>
                                <span class="font-weight-bold">Species:</span>
                                <ul *ngFor="let species of character.getSpecies()">
                                    <li>{{species}}</li>
                                </ul>
                            </li>
                        </div>
                        <div class="col-6">
                            <li>
                                <span class="font-weight-bold">Films:</span>
                                <ul *ngFor="let film of character.getFilms()">
                                    <li>{{film}}</li>
                                </ul>
                            </li>
                            <li *ngIf="character.getStarships().length > 0">
                                <span class="font-weight-bold">Starships:</span>
                                <ul *ngFor="let starship of character.getStarships()">
                                    <li>{{starship}}</li>
                                </ul>
                            </li>
                            <li *ngIf="character.getVehicles().length > 0">
                                <span class="font-weight-bold">Vehicles:</span>
                                <ul *ngFor="let vehicle of character.getVehicles()">
                                    <li>{{vehicle}}</li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </ng-template>
</ngb-carousel>