<ngb-carousel #carousel>
    <ng-template ngbSlide *ngFor="let character of people">
        <div class="card">
            <div class="card-header">
                {{character.name}}
            </div>
            <div class="card-body">
                <ul>
                    <li><strong>Birth:</strong> {{character.birth_year}}</li>
                    <li><strong>Eye Color:</strong> {{character.eye_color}}</li>
                    <li><strong>Eye Color:</strong> {{character.gender}}</li>
                    <li><strong>Eye Color:</strong> {{character.hair_color}}</li>
                    <li><strong>Height:</strong> {{character.height}}</li>
                    <li><strong>Weight:</strong> {{character.mass}}</li>
                    <li><strong>Skin color:</strong> {{character.skin_color}}</li>
                    <li><strong>Homeworld:</strong> {{character.homeworld}}</li>
                    <li><strong>Species:</strong> {{character.species}}</li>
                    <li>
                        <strong>Films:</strong>
                        <ul *ngFor="let film of peopleFilms">
                            <li *ngIf="character.name == film[0]">{{film[1]}}</li>
                            <!-- <li>{{film}}</li> -->
                        </ul>
                    </li>
                    <li *ngIf="character.starships.length > 0">
                        <strong>Starships:</strong>
                        <ul *ngFor="let starship of character.starships">
                            <!-- <li>{{starship.name}} - {{starship.model}}</li> -->
                            <li>{{starship}}</li>
                        </ul>
                    </li>
                    <li *ngIf="character.vehicles.length > 0">
                        <strong>Vehicles:</strong>
                        <ul *ngFor="let vehicle of character.vehicles">
                            <!-- <li>{{vehicle.name}} - {{vehicle.model}}</li> -->
                            <li>{{vehicle}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>
</ngb-carousel>